$def with(settings,bme)
<!-- Edit: Replace "proto_vals" with settings values for your plugin if used-->

$var title: $_(u'SIP chirpDataDisplay Plugin') <!--Edit: Title to show on browser tab-->
$var page: proto_plugin  <!--Edit: page name, used internally-->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>

<style>
 .bmeContainer{
     display: grid;
     grid-template-columns: 100px 100px;
     }
 
 .bmeTemp {
     font-size: 14px;
     font-weight: bold;
     width: 120px;
     font-color:white;
     background-color: #2E3959;
     pointer-events:none;
     margin-top: 10px;
     margin-bottom: 10px;
     }
 .bmePres {
     font-size: 14px;
     font-weight: bold;
     width: 100px;
     font-color:white;
     background-color: #2E3959;
     pointer-events:none;
     margin-top: 10px;
     margin-bottom: 10px;
     }
 .bmeHum {
     font-size: 14px;
     font-weight: bold;
     width: 100px;
     font-color:white;
     background-color: #2E3959;
     pointer-events:none;
     margin-top: 10px;
     margin-bottom: 10px;
     }
 
 .bmeVal{
      font-size: 15px;
      text-align: center;
      font-weight:bold;
      border-color: #2E3959;
      margin-top: 10px;
      margin-bottom: 10px;
     }
  hr{
      border-width: 1px;
      border-color: black;
      }
</style>

<script>

    // Initialize behaviors
    jQuery(document).ready(function(){

  

        jQuery("button#docButton").click(function(){
            window.open(baseUrl + "/static/docs/plugins/chirpDataDisplay-docs.html", "_blank"); //Edit: replace "proto-docs.html"
        });

    });
</script>




<div id="plugin">
    <h1> Sensor Data Display</h1>
    <div class="title">Click help for more information about this page   <!--Edit: User page heading, Make relevant to your plugin-->
    <button class="execute" id="docButton" type="button" >$_(u'Help')</button>
    </div>
    
    <hr>
    <h2>Weekly Weather</h2>
    
    <hr>
    
    <h2>BME Station Readings</h2>
            
            <div class="bmeContainer">
            <button class="bmeTemp">Temperature: </button>
                <div class="bmeVal">
                 $bme[0]['temperature']F
                </div>
            <button class="bmePres">Pressure: </button>
                <div class="bmeVal">
                $bme[0]['pressure']hPa
                </div>
            <button class="bmeHum">Humidity: </button>
                <div class="bmeVal">
                 $bme[0]['humidity']%
                </div>
            </div>
    
    <hr>
    
    <h2>Select Zone Data</h2>
    <p>
    Select the zone to get the 25 most recent soil moisture readings
    </p>
    <div class='option' style="margin-left:5px; margin-top: 5px;"title='select zone'><span class="label">$_(u'List of Zones'):</span>
        <select id="zoneList" style="width:75px;height:50px;" name="zoneList" onchange="update()">
            <option value="zone_1">zone_1</option>
            <option value="zone_2">zone_2</option>
            <option value="zone_3" >zone_3</option>
        </select>
    </div>

    
    
    
    
        <table id="chirpDataTable"class="table">
            <thead>
        <tr>
            <th scope=u"col">
             #
            </th>
            <th scope=u"col">
              Time
            </th>
            <th scope=u"col">
             Moisture
            </th>
            <th scope=u"col">
             Temperature
            </th>
        </tr>
            </thead>
        <tbody id="tbody">
          $for c in settings:
            <tr class="$loop.parity">
                <td>$loop.index</td>
                <td>$c[u'time']</td>
                <td>$c[u'moisture']</td>
                <td>$c[u'temperature']</td>
            </tr>
        </tbody>
        </table>
    
    
    
    
<script>
    function update(){
        var zoneSelected = document.getElementById("zoneList").value;
        jQuery.ajax(
            {
                url: '/updateTables',
                type: "POST",
                data: zoneSelected,
                success: function(result){
                    jQuery("#chirpDataTable").DataTable().destroy();
                    jQuery("#chirpDataTable").empty();
                    thHTML = '<thead><tr><th scope=u"col">#</th><th scope=u"col">Time</th><th scope=u"col">Moisture</th><th scope=u"col">Temperature</th></tr></thead>';
                    jQuery("#chirpDataTable").append(thHTML);
                    var data = JSON.parse(result);
                    console.log(data)
                    var i;
                    jQuery("#chirpDataTable").append('<tbody id="tbody">');
                    
                    var trHTML;
                    for(i = 0; i < data.length; i++){
                        trHTML = '<tr>';
                        
                        trHTML += '<td>' + (i + 1) + '</td>' +
                                  '<td>' + data[i].time + '</td>' +
                                  '<td>' + data[i].moisture + '</td>' +
                                  '<td>' + data[i].temperature + '</td>';
                        trHTML += '</tr>';
                        jQuery("#chirpDataTable").append(trHTML);
                        }
                    jQuery("#chirpDataTable").append('</tbody>');
                    
                     jQuery("#chirpDataTable").DataTable({
                        bLengthChange: true,
                        lengthMenu: [[5,10,-1],[5,10,"All"]],
                        bFilter: true,
                        bSort: true,
                        bPaginate: true,
                        columns: [{'data':'#'},
                                  {'data': 'Time'},
                                  {'data': 'Moisture'},
                                  {'data': 'Temperature'}]
                        });
                    
                    
                    
                    },
                error: function(result){
                     console.log("ERROR");
                     console.log(result)
                    }
                
            });
        
        }
</script>
 


<script>
    jQuery(document).ready(function() {
        jQuery("#chirpDataTable").DataTable({
            bLengthChange: true,
            lengthMenu: [[5,10,-1],[5,10,"All"]],
            bFilter: true,
            bSort: true,
            bPaginate: true,
            columns: [{'data':'#'},
                      {'data': 'Time'},
                      {'data': 'Moisture'},
                      {'data': 'Temperature'}]
            });
    } );
</script>


</div>
