#Service for SIP running on a SystemD service
#
[Unit]
Description=SIP
After=syslog.target network.target
[Service]
ExecStart=/usr/bin/python -u /home/pi/SprinklerController/SIP/sip.py
Restart=on-abort
WorkingDirectory=/home/pi/SprinklerController/SIP/
SyslogIdentifier=sip
[Install]
WantedBy=multi-user.target
